#safe {
  background-color: #04aa6d;
  height: 100vh;
}

#hazard {
  background-color: rgb(255, 255, 66);
  height: 100vh;
}

#danger {
  background-color: #f44336;
  height: 100vh;
}

#finish {
  background: linear-gradient(
    to right,
    white,
    white 50px,
    black 50px,
    black 100px
  );
  height: 100vh;
}
